nntpchan fails to parse date

nntpchan failed to parse timestamp `27 Nov 2018 01:27:27 +0000` which is valid according to [RFC 5322 section 3.3](https://tools.ietf.org/html/rfc5322#section-3.3) and is parsed normally by email clients I tested with.
I tried searching where it parses date but failed to find it so no PR, plz feex it.

http://vc5toxnnomthgu2iqq7x2rc4pq5cqrvs3puspqnxldbryooakrbxbuad.onion/t/de59c0a3211f1368d71fe1c3409f99a64253a174/
http://cathugger.ano:18000/t/de59c0a3211f1368d71fe1c3409f99a64253a174/

tbh u should just use https://golang.org/pkg/net/mail/#ParseDate

seems that parsing works okay now, closing